html {
  overflow-y: scroll;
}

body {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
  font-size: medium;
  font-family: "LXGW WenKai Lite", sans-serif;
  background: var(--code-bg);
}


article {
  padding: 20px;
  color: var(--secondary);
  margin-bottom: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform 0.1s;
  border: 1px solid var(--border);
}


.post-content  p {
    text-indent: 1em;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

figcaption {
  color: var(--border);
  font: 12px/1.5;
  text-align: center;
}

figure {
  margin: auto;
}

nav > a{
}
nav {
    margin:0 0 10px 0;
}

a {
  text-decoration: none;
  color: blue;
}

.title {
  color: var(--content);
}

.logo {
  color: var(--content);
  font-style: italic;
  font-weight: bold;
}

.footer-link {
  color: var(--content);
}

body.dark #moon {
  vertical-align: middle;
  display: none;
}

body:not(.dark) #sun {
  display: none;
}
